@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

a{
    text-decoration: none !important;
}

.top-bar
{
    background-color: #140567;
    padding-top: 15px;
    padding-bottom: 10px;
}

.top-bar .top1
{
    /* display: flex; */
}

.top-bar .top1 a{
    color: #fff;
    padding: 0 10px;
}

.top-bar .top1 i 
{
    padding: 0 5px 0 0;
    font-size: 23px;
    color: yellow;
}

.top-bar .top1 i:hover
{
    color: orange;
    opacity: 0.5s;
    transition: 0.5s;
}

.top-bar .top1 p
{
    padding-right: 25px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}

.top-bar .search
{
    width: 100%;
    position: relative
}


.top-bar .searchterm
{
    float: left;
    width: 100%;
    border: 0px solid #0a0a0a;
    padding: 10px;
    height: 30px;
    border-radius: 2px 0 0 2px;
    outline: none;
    color: #6b6b6b;
}


.top-bar .search .button1
{
    position: absolute;
    right: 0;
    width: 40px;
    height: 30px;
    border: 0px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.top-bar .search .button1 i
{
    font-size: 20px;   
}


.top-bar .search .button1:hover
{
    background-color: orange;
    opacity: 0.5s;
    transition: 0.5s;
}

.nav-bar
{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 90px;
    position: relative;
}

.nav-bar .logo1
{
    padding-top: 7px;
}


.nav-bar .logo1 i
{
    font-size: 30px;
    color: orange;
}


.nav-bar .logo1 a
{
    text-decoration: none;
    font-size: 27px;
    color: black;
    font-weight: 700;
    padding-left: 5px
}

.nav-bar .nav
{
    margin-top: 9px;
}

.nav-bar .nav ul
{
    display: flex;
    list-style: none;
    padding-top: 10px;

}

.nav-bar .nav li a
{
    color: black;
    padding-left: 15px;
    padding-right: 9px;
    margin-left: 9px;
    text-decoration: none;
}

.nav-bar .nav i
{
    font-size: 11px;
    color: #ada7a7;
    padding-left: 2px;
}

.nav-bar .nav .icon1
{
    padding-left: 10px;
    padding-top: 4px;
}

.nav-bar .nav .icon1 i
{
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 1px;
    padding: 8px 8px 8px 8px;
    font-size: 16px;
}

.nav-bar .nav .icon1 i:hover
{
    background-color: orange;
    opacity: 0.5s;
    transition: 0.5s;
}

/* dropdown buttn */

/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .nav-bar .nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-bar .nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-bar .nav .dropdown-content a:hover {background-color: #ddd;}
  
  .nav-bar .nav .dropdown:hover .dropdown-content {display: block;}
  
  .nav-bar .nav .dropdown:hover .dropbtn {background-color: #3e8e41;} */



/* sidenav */

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}
  
.sidenav a:hover 
{
    color: #f1f1f1;
}
  
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.mobile-nav
{
    display: none;
}

.openbtn, .closebtn
{
    cursor: pointer;
    font-size: 35px;
}

.openbtn
{
    color: #000;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
}

.slider
{
    width: 100%;
    height: 500px;
}

.slide .inner
{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #1f1f1f;
}

.slider .heading
{
    padding-top: 150px;
    padding-bottom: 80px;
}

.slider .heading h1
 {
    color: white;
    font-size: 45px;
    margin-bottom: 0;
 }

 .slider .heading h1 span
 {
    color: orange;
 }

 .slider .heading p
 {
    color: #bdbdbd;
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 30px;
 }

 .slider .heading .button3
 {
    margin-top: 60px;
 }

 .slider .heading .button3 a
 {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    border: 1px solid orange;
    border-radius: 1px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
 }

 .slider .heading .button3 a:first-child
 {
     margin-left: 0;
 }

 .slider .heading .button3 a:hover
 {
    background-color: orange;
    opacity: 0.5s;
    transition: 0.5s;
 }

 .digital
  {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: white;
  }

  .digital h1
  {
    color: black;
    margin-bottom: 0;
    font-size: 45px;
  }

  .digital h5
  {
    color: gray;
    font-size: 24px;
    margin-bottom: 0;
    padding-top: 5px;
  }

  .digital .button2
  {
    margin-top: 30px;
    float: right;
  }

  .digital .button2 i
  {
    font-size: 30px;
    background-color: orange;
    color: white;
    border: 1px solid;
    border-radius: 1px;
    padding: 8px 15px 8px 15px;
    margin-left: 10px;
  }

  .digital .button2 i:hover
  {
      background-color: #000;
      opacity: 0.5s;
      transition: 0.5s;
  }

  .digital .deling
  {
    padding-top: 90px;
  }

  .digital .deling h6
  {
    font-size: 25px;
  color: black;
  margin-bottom: 0;
  }

  .digital .deling i
  {
    font-size: 35px;
    color: orange;
    padding-right: 10px;
  }

  .digital .deling p
  {
    color: gray;
    font-size: 15px;
    padding-top: 20px;
    margin-bottom: 0;
  }

  .about
  {
    background-color: #032542;
  }

  .about .color1  
  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #efefef;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about .color1 .detail
  {
    padding-left: 90px;
    padding-right: 90px;
  }

  .about .color1 .detail h1 
  {
    color: black;
    font-size: 40px;
    margin-bottom: 0;
  }

  .about .color1 .detail h1 span
  {
      color: orange;
  }

  .about .color1 .detail p
  {
    font-size: 17px;
    margin-bottom: 0;
    padding-top: 35px;
    color: gray;
  }

  .about .project
  {
    margin-top: 50px;
  }

  .about .project h5
  {
    font-size: 30px;
    margin-bottom: 0;
    color: black;
  }
 
  .about .project h6
  {
    font-size: 20px;
    margin-bottom: 0;
    color: black;
  }

  .about .pic2
  {
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translate(0,-50%);
  }

  .about .pic2 img
  {
      width: 100%;
  }


.slick-slide:focus
{
    outline: none;
}

.service
{
    padding-top: 10%;
    padding-bottom: 90px;
    background-color: #fff;
}

.service .main
{
    text-align: center;
}

.service .main h1
{
    font-size: 40px;
    margin-bottom: 0;
}

.service .main h1 span
{
    color: orange;
}

.service .main p
{
    color: gray;
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 0;
}

.service .serve
{
    padding-top: 50px;
}

.service .serve .color2
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.service .serve .color2:hover
{
    background-color: tan;
    opacity: 0.5s;
    transition: 0.5s;
}

.service .serve h6
{
    font-size: 25px;
    margin-bottom: 0;
    color: black;
}

.service .serve i
{
    color: orange;
    font-size: 30px;
    padding-right: 15px;
}

.service .serve i:hover
{
    color: black;
    opacity: 0.5s;
    transition: 0.5s;
}

.service .serve p
{
    color: gray;
    font-size: 15px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 15%;
}



















@media screen and (max-width: 1920px) 
{
    .openbtn
    {
        display: none;
    }

    .nav-bar .nav li a
    {
        padding-left: 2px;
        padding-right: 5px;
    }

    
}

@media screen and (max-width: 1366)
{
    

} 

@media screen and (max-width: 768px)
{
        
    .nav-bar .nav
    {
        display: none;
    }

    .openbtn
    {
        display: block;
    }

    
    .mobile-nav
    {
        display: block;
    }

    .digital .deling h6
    {
        font-size: 18px;
    }

    .digital h5 
    {
        font-size: 25px;
        padding-top: 40px;
    }

    .digital h1 
    {
        font-size: 43px;
    }

    .about .color1 .detail h1
    {
        font-size: 35px;
    }

    .about .color1 .detail p
    {
        font-size: 14px;
    }

    .about .project h6
    {
        padding-top: 15px;
        font-size: 17px;
    }

    .service .serve h6
    {
        font-size: 16px;
    }

    .service .serve i
    {
        font-size: 24px;
        padding-right: 6px;
    }

} 

@media screen and (max-width: 600px)
{
    

    .logo1
    {
        text-align: center;
    }

    .top-bar
    {
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
    }
    
    .top-bar .search
    {
        width: 90%;
        padding-top: 20px;
        display: block;
        margin: auto;
    }

    .nav-bar .logo1 i
    {
        font-size: 35px;
    }

    .nav-bar .logo1 a 
    {
        font-size: 30px;
    }
    .openbtn
    {
        display: block;
    }

    .slider .heading h1
    {
        font-size: 35px;
        padding-left: 40px;
        padding-right: 10px;
    }

    .slider .heading p 
    {
        padding-left: 15px;
        padding-right: 10px;
        font-size: 16px;
    }

    .slide .inner
    {
        height: 550px;
    }

    /* .slider .heading .button3 a
    {
        margin-left: 35px;
    } */

    .digital h1
    {
        font-size: 35px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .digital h5
    {
        font-size: 17px;
        padding-top: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .digital .deling
    {
        padding-top: 50px;
    }
    
    .about .row, .slider .row
    {
        margin: 0;
    }

    .about
    {
        height: 1150px;
    }

    .about .pic2
    {
        left: -1%;
    }

    .about .pic2 img 
    {
        margin-top: 60%;
    }


    .service
    {
        padding-top: 30%;
    }

    .service .main p
    {
        font-size: 15px;
        padding-top: 25px;
    }

} 

@media screen and (max-width: 425px)
{

} 

@media screen and (max-width: 375px) 
{
    

}









