@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-family: "Lato", sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

a{
    text-decoration: none !important;
}

.top-bar
{
    background-color: #140567;
    padding-top: 15px;
    padding-bottom: 10px;
}

.top-bar .top1
{
    /* display: flex; */
}

.top-bar .top1 a{
    color: #fff;
    padding: 0 10px;
}

.top-bar .top1 i 
{
    padding: 0 5px 0 0;
    font-size: 23px;
    color: yellow;
}

.top-bar .top1 i:hover
{
    color: orange;
    opacity: 0.5s;
    transition: 0.5s;
}

.top-bar .top1 p
{
    padding-right: 25px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
}

.top-bar .search
{
    width: 100%;
    position: relative
}


.top-bar .searchterm
{
    float: left;
    width: 100%;
    border: 0px solid #0a0a0a;
    padding: 10px;
    height: 30px;
    border-radius: 2px 0 0 2px;
    outline: none;
    color: #6b6b6b;
}


.top-bar .search .button1
{
    position: absolute;
    right: 0;
    width: 40px;
    height: 30px;
    border: 0px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.top-bar .search .button1 i
{
    font-size: 20px;   
}


.top-bar .search .button1:hover
{
    background-color: orange;
    opacity: 0.5s;
    transition: 0.5s;
}

.nav-bar
{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bar .logo1
{
    
}


.nav-bar .logo1 i
{
    font-size: 30px;
    color: orange;
}


.nav-bar .logo1 a
{
    text-decoration: none;
    font-size: 27px;
    color: black;
    font-weight: 700;
    padding-left: 5px
}

.nav-bar .nav
{
    margin-top: 9px;
}

.nav-bar .nav ul
{
    display: flex;
    list-style: none;
    padding-top: 10px;

}

.nav-bar .nav li a
{
    color: black;
    padding-left: 15px;
    padding-right: 9px;
    margin-left: 9px;
    text-decoration: none;
}

.nav-bar .nav i
{
    font-size: 11px;
    color: #ada7a7;
    padding-left: 2px;
}

.nav-bar .nav .icon1
{
    padding-left: 10px;
    padding-top: 4px;
}

.nav-bar .nav .icon1 i
{
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 1px;
    padding: 8px 8px 8px 8px;
    font-size: 16px;
}

.nav-bar .nav .icon1 i:hover
{
    background-color: orange;
    opacity: 0.5s;
    transition: 0.5s;
}

/* sidemenu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .mobile-nav
  {
    display: none;
  }

  .openbtn, .closebtn
  {
    cursor: pointer;
    font-size: 35px;
  }

  .openbtn
  {
    color: #000;
    position: absolute;
    top: 0;
    left: 20px;
  }































































































@media screen and (max-width: 1920px) 
{
    .openbtn
    {
        display: none;
    }
}

@media screen and (max-width: 1366)
{
   

} 

@media screen and (max-width: 768px)
{

    .nav-bar .nav
    {
        display: none;
    }

    .openbtn
    {
        display: none;
    }

} 

@media screen and (max-width: 600px)
{
    .mobile-nav
    {
        display: block;
    }

    .logo1
    {
        text-align: center;
    }

    .top-bar
    {
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
    }
    
    .top-bar .search
    {
        width: 90%;
        padding-top: 20px;
        display: block;
        margin: auto;
    }

    .nav-bar .logo1 i
    {
        font-size: 35px;
    }

    .nav-bar .logo1 a 
    {
        font-size: 30px;
    }
    .openbtn
    {
        display: block;
    }

  

} 

@media screen and (max-width: 425px)
{

} 

@media screen and (max-width: 375px) 
{
    

}









